$brand-ocean-blue: #006FA7;
$brand-ocean-blue-two: #0068BA;
$brand-dark-blue: #1B4D71;
$brand-light-blue: #2AA3FE;
$brand-azure: #0098E5;
$brand-marine-blue: #003E5E;
$brand-cornflower: #11C1F3;
$brand-green: #00953A;
$brand-light-green: #CAECD3;
$brand-mint: #B0C9B0;
$brand-white-two: #F9F9F9;
$brand-white: #F4F4F4;
$brand-pure-white: #FFFFFF;
$brand-light-gray: #D0D2D3;
$brand-brownish-grey: #5A5A5A;
$brand-slate-grey: #5C666F;
$brand-black: #333333;
$brand-mustard: #9E9300;
$brand-goldenrod: #F4C307;
$brand-orange: #E57600;
$brand-red: #F54623;
